body {
	background-color: #fff;
}

.container-fluid {
	max-width: 1400px !important;
	margin: auto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans Condensed', Arial, sans-serif;
}

th {
	font-weight: normal !important;
}

thead th {
	font-weight: bold !important;
}

input[type="checkbox"] {
	margin: -2px 0 0 0 !important;
}

.help-inline ul, .alert-error ul, .alert-success ul, .messagelist {
	list-style: none;
	padding: 0;
	margin: 0;
}

.required {
	font-weight: bold;
}

.add-bottom {
	margin-bottom: 20px;
}

.add-top {
	margin-top: 20px;
}

.alert-error a {
	color: #892A28;
	text-decoration: underline;
}

.alert-error a:hover {
	color: #a94A48;
}

.navbar .brand {
	padding-left: 30px;
	font: 300 16px 'Open Sans Condensed', sans-serif;
}

.navbar .brand i {
	margin-top: 5px;
}

.navbar-fixed-top .nav-collapse i {
	opacity: 0.6;
}

.navbar-fixed-top .nav-collapse li:hover i {
	opacity: 1;
}

.main {
	padding-top: 60px;
}

@media (max-width: 979px) {
	.main {
		padding-top: 0;
	}
}

.table-rounded {
	border: 1px solid #DDD;
	border-collapse: separate;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.navbar-blue {
	color: #ddd;
}

.navbar-blue .brand, .navbar-inverse .nav > li > a {
	color: #eee;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.navbar-blue .nav > li > a {
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	opacity: .9;
}

.navbar-blue .btn-navbar:hover, .navbar-blue .btn-navbar:active, .navbar-blue .btn-navbar.active, .navbar-blue  .btn-navbar.disabled, .navbar-blue  .btn-navbar[disabled] {
	color: white;
	background-color: #005E9D;
}

.navbar-blue .nav li.dropdown.open > .dropdown-toggle, .navbar-blue .nav li.dropdown.active > .dropdown-toggle, .navbar-blue .nav li.dropdown.open.active > .dropdown-toggle {
	background-color: #005E9D;
}

.navbar-blue .nav > li:hover > a, .navbar-blue.navbar-fixed-top .btn-navbar:hover span {
	opacity: 1;
}

.navbar-blue .divider-vertical {
	border-left-color: #2078A1;
	border-right-color: #3497C2;
}

.navbar-blue.navbar-fixed-top .nav-collapse i, .navbar-blue.navbar-fixed-top .btn-navbar span {
	opacity: .9;
}

.navbar-blue .nav li.dropdown > .dropdown-toggle .caret {
	border-top-color: #fff;
	border-bottom-color: #fff;
	opacity: .9;
}

.navbar-blue .nav li.dropdown:hover > .dropdown-toggle .caret {
	border-top-color: #fff;
	border-bottom-color: #fff;
	opacity: 1;
}

@media (max-width: 979px) {
	.navbar-blue .nav-collapse .nav > li > a:hover, .navbar-blue .nav-collapse .dropdown-menu a:hover {
		background-color: #005E9D !important;
	}
	
	.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
		color: #eee;
	}
}

.navbar-blue .btn-navbar {
	margin-top: 3px;
}

.navbar-blue .btn-navbar {
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #0088cc;
	background-image: -moz-linear-gradient(top, #0088cc, #005E9D);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#005E9D));
	background-image: -webkit-linear-gradient(top, #0088cc, #005E9D);
	background-image: -o-linear-gradient(top, #0088cc, #005E9D);
	background-image: linear-gradient(to bottom, #0088cc, #005E9D);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#ff005E9D', GradientType=0);
	border-color: #0077aa;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.navbar-blue .navbar-inner, .blue-degrade {
	background: #0088cc;
	background: -moz-linear-gradient(top, #0088cc 0%, #005E9D 100%);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#005E9D));
	background: -webkit-linear-gradient(top, #0088cc 0%,#005E9D 100%);
	background: -o-linear-gradient(top, #0088cc 0%,#005E9D 100%);
	background: -ms-linear-gradient(top, #0088cc 0%,#005E9D 100%);
	background: linear-gradient(top, #0088cc 0%,#005E9D 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0088cc', endColorstr='#005E9D',GradientType=0 );
	color: #fff;
	webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1),0 1px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.1),0 1px 10px rgba(0,0,0,0.1);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1),0 1px 10px rgba(0, 0, 0, 0.1);
}

.navbar-blue .navbar-inner {
	border: 0;
}

.grey-degrade, .breadcrumb, .tabular.inline-related .add-row td {
	background-color: #FAFAFA;
	background-image: -moz-linear-gradient(top, white, #F2F2F2);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#F2F2F2));
	background-image: -webkit-linear-gradient(top, white, #F2F2F2);
	background-image: -o-linear-gradient(top, white, #F2F2F2);
	background-image: linear-gradient(to bottom, white, #F2F2F2);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#F2F2F2',GradientType=0 );
	border: 1px solid #e4e4e4;
}

.breadcrumb {
	font-size: 13px;
}

.light-blue-degrade {
	background: #50AEDD;
	background: -moz-linear-gradient(top, #50AEDD 0%, #0088cc 100%);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#50AEDD), to(#0088cc));
	background: -webkit-linear-gradient(top, #50AEDD 0%,#0088cc 100%);
	background: -o-linear-gradient(top, #50AEDD 0%,#0088cc 100%);
	background: -ms-linear-gradient(top, #50AEDD 0%,#0088cc 100%);
	background: linear-gradient(top, #50AEDD 0%,#0088cc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#509ECD', endColorstr='#0088cc',GradientType=0 );
	color: #fff;
	webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1),0 1px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.1),0 1px 10px rgba(0,0,0,0.1);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1),0 1px 10px rgba(0, 0, 0, 0.1);
}

.light-blue-degrade a {
	color: #ddd;
	text-decoration: underline;
}

.light-blue-degrade a:hover {
	color: #fff;	
}

.clearfix {
	clear: both;
}

.well-open {
	background-color: #fff;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	padding-top: 5px;
}

.well-open h3 {
	background-color: #f5f5f5;
	text-align: center;
}

/* OBJECT TOOLS ICONS */

.loading-item, .add-item, .addressbook-item, .agent-item, .apple-item, 
.arrow-round-item, .badge-item, .bar-chart-item, .bar-chart-02-item,
.battery-full-item, .bird-item, .boat-item, .bookmark-item, .briefcase-item,
.calculator-item, .calendar-item, .cassete-item, .chain-item, .chat-item,
.chat-02-item, .cloud-filled-item, .cloud-outline-item, .computer-item,
.configuration-item, .counfiguration-02-item, .connected-item, .connections-item,
.container-item, .copy-item, .database-item, .delete-item, .disc-item, 
.dollar-item, .download-item, .edit-item, .email-item, .fan-item, .fancy-globe-item,
.female-user-item, .fire-item, .first-aid-item, .flag-item, .flower-item,
.full-screen-item, .glasses-item, .globe-item, .happy-face-item, .headphone-item,
.heart-item, .home-item, .id-item, .ipod-item, .lab-item, .lady-item,
.lamp-item, .leaves-item, .light-item, .line-globe-item, .lock-item, .lookup-item,
.male-user-item, .microphone-item, .mobile-item, .mobile-02-item, .mouse-item,
.multi-agents-item, .music-node-item, .network-item, .next-item, .phone-item,
.pie-chart-item, .pin-item, .plane-item, .print-item, .processing-item,
.processing-02-item, .push-pin-item, .recycle-empty-item, .recycle-full-item,
.reload-item, .rss-item, .satellite-item, .save-item, .scissors-item,
.screen-item, .search-item, .server-item, .shield-item, .shut-down-item,
.star-item, .tag-item, .tap-item, .tree-item, .umbrella-item, .unlock-item,
.usb-item, .van-item, .wifi-item, .world-item {
	width: 32px;
	height: 32px;
	display: block;
	margin: auto;
}

.loading-item {
	background: url('../img/ajax-loader.gif') 4px 4px no-repeat transparent;
}

.add-item {
	background: url('../img/gcons/add-item.png') 0px 0px no-repeat;
}

.addressbook-item {
	background: url('../img/gcons/addressbook.png') 0px 0px no-repeat;
}

.agent-item {
	background: url('../img/gcons/agent.png') 0px 0px no-repeat;
}

.apple-item {
	background: url('../img/gcons/apple.png') 0px 0px no-repeat;
}

.arrow-round-item {
	background: url('../img/gcons/arrow-round.png') 0px 0px no-repeat;
}

.badge-item {
	background: url('../img/gcons/badge.png') 0px 0px no-repeat;
}

.bar-chart-item {
	background: url('../img/gcons/bar-chart.png') 0px 0px no-repeat;
}

.bar-chart-02-item {
	background: url('../img/gcons/bar-chart-02.png') 0px 0px no-repeat;
}

.battery-full-item {
	background: url('../img/gcons/battery-full.png') 0px 0px no-repeat;
}

.bird-item {
	background: url('../img/gcons/bird.png') 0px 0px no-repeat;
}

.boat-item {
	background: url('../img/gcons/boat.png') 0px 0px no-repeat;
}

.bookmark-item {
	background: url('../img/gcons/bookmark.png') 0px 0px no-repeat;
}

.briefcase-item {
	background: url('../img/gcons/briefcase.png') 0px 0px no-repeat;
}

.calculator-item {
	background: url('../img/gcons/calculator.png') 0px 0px no-repeat;
}

.calendar-item {
	background: url('../img/gcons/calendar.png') 0px 0px no-repeat;
}

.cassete-item {
	background: url('../img/gcons/cassete.png') 0px 0px no-repeat;
}

.chain-item {
	background: url('../img/gcons/chain.png') 0px 0px no-repeat;
}

.chat-item {
	background: url('../img/gcons/chat.png') 0px 0px no-repeat;
}

.chat-02-item {
	background: url('../img/gcons/chat-02.png') 0px 0px no-repeat;
}

.cloud-filled-item {
	background: url('../img/gcons/cloud-filled.png') 0px 0px no-repeat;
}

.cloud-outline-item {
	background: url('../img/gcons/cloud-outline.png') 0px 0px no-repeat;
}

.computer-item {
	background: url('../img/gcons/computer.png') 0px 0px no-repeat;
}

.configuration-item {
	background: url('../img/gcons/configuration.png') 0px 0px no-repeat;
}

.configuration-02-item {
	background: url('../img/gcons/configuration-02.png') 0px 0px no-repeat;
}

.connected-item {
	background: url('../img/gcons/connected.png') 0px 0px no-repeat;
}

.connections-item {
	background: url('../img/gcons/connections.png') 0px 0px no-repeat;
}

.container-item {
	background: url('../img/gcons/container.png') 0px 0px no-repeat;
}

.copy-item {
	background: url('../img/gcons/copy-item.png') 0px 0px no-repeat;
}

.database-item {
	background: url('../img/gcons/database.png') 0px 0px no-repeat;
}

.delete-item {
	background: url('../img/gcons/delete-item.png') 0px 0px no-repeat;
}

.disc-item {
	background: url('../img/gcons/disc.png') 0px 0px no-repeat;
}

.dollar-item {
	background: url('../img/gcons/dollar.png') 0px 0px no-repeat;
}

.download-item {
	background: url('../img/gcons/download.png') 0px 0px no-repeat;
}

.edit-item {
	background: url('../img/gcons/edit.png') 0px 0px no-repeat;
}

.email-item {
	background: url('../img/gcons/email.png') 0px 0px no-repeat;
}

.fan-item {
	background: url('../img/gcons/fan.png') 0px 0px no-repeat;
}

.fancy-globe-item {
	background: url('../img/gcons/fancy-globe.png') 0px 0px no-repeat;
}

.female-user-item {
	background: url('../img/gcons/female-user.png') 0px 0px no-repeat;
}

.fire-item {
	background: url('../img/gcons/fire.png') 0px 0px no-repeat;
}

.first-aid-item {
	background: url('../img/gcons/first-aid.png') 0px 0px no-repeat;
}

.flag-item {
	background: url('../img/gcons/flag.png') 0px 0px no-repeat;
}

.flower-item {
	background: url('../img/gcons/flower.png') 0px 0px no-repeat;
}

.full-screen-item {
	background: url('../img/gcons/full-screen.png') 0px 0px no-repeat;
}

.glasses-item {
	background: url('../img/gcons/glasses.png') 0px 0px no-repeat;
}

.globe-item {
	background: url('../img/gcons/globe.png') 0px 0px no-repeat;
}

.happy-face-item {
	background: url('../img/gcons/happy-face.png') 0px 0px no-repeat;
}

.headphone-item {
	background: url('../img/gcons/headphone.png') 0px 0px no-repeat;
}

.heart-item {
	background: url('../img/gcons/heart.png') 0px 0px no-repeat;
}

.home-item {
	background: url('../img/gcons/home.png') 0px 0px no-repeat;
}

.id-item {
	background: url('../img/gcons/ID.png') 0px 0px no-repeat;
}

.ipod-item {
	background: url('../img/gcons/ipod.png') 0px 0px no-repeat;
}

.lab-item {
	background: url('../img/gcons/lab.png') 0px 0px no-repeat;
}

.lady-item {
	background: url('../img/gcons/lady.png') 0px 0px no-repeat;
}

.lamp-item {
	background: url('../img/gcons/lamp.png') 0px 0px no-repeat;
}

.leaves-item {
	background: url('../img/gcons/light.png') 0px 0px no-repeat;
}

.line-globe-item {
	background: url('../img/gcons/line-globe.png') 0px 0px no-repeat;
}

.lock-item {
	background: url('../img/gcons/lock.png') 0px 0px no-repeat;
}

.lookup-item {
	background: url('../img/gcons/lookup.png') 0px 0px no-repeat;
}

.male-user-item {
	background: url('../img/gcons/male-user.png') 0px 0px no-repeat;
}

.microphone-item {
	background: url('../img/gcons/microphone.png') 0px 0px no-repeat;
}

.mobile-item {
	background: url('../img/gcons/mobile.png') 0px 0px no-repeat;
}

.mobile-02-item {
	background: url('../img/gcons/mobile-02.png') 0px 0px no-repeat;
}

.mouse-item {
	background: url('../img/gcons/mouse.png') 0px 0px no-repeat;
}

.multi-agents-item {
	background: url('../img/gcons/multi-agents.png') 0px 0px no-repeat;
}

.multi-node-item {
	background: url('../img/gcons/multi-node.png') 0px 0px no-repeat;
}

.network-item {
	background: url('../img/gcons/network.png') 0px 0px no-repeat;
}

.network-pc-item {
	background: url('../img/gcons/network-pc.png') 0px 0px no-repeat;
}

.next-item {
	background: url('../img/gcons/next-item.png') 0px 0px no-repeat;
}

.phone-item {
	background: url('../img/gcons/phone.png') 0px 0px no-repeat;
}

.pie-chart-item {
	background: url('../img/gcons/pie-chart.png') 0px 0px no-repeat;
}

.pin-item {
	background: url('../img/gcons/pin.png') 0px 0px no-repeat;
}

.plane-item {
	background: url('../img/gcons/plane.png') 0px 0px no-repeat;
}

.print-item {
	background: url('../img/gcons/print.png') 0px 0px no-repeat;
}

.processing-item {
	background: url('../img/gcons/processing.png') 0px 0px no-repeat;
}

.processing-02-item {
	background: url('../img/gcons/processing-02.png') 0px 0px no-repeat;
}

.push-pin-item {
	background: url('../img/gcons/push-pin.png') 0px 0px no-repeat;
}

.recycle-empty-item {
	background: url('../img/gcons/recycle-empty.png') 0px 0px no-repeat;
}

.recycle-full-item {
	background: url('../img/gcons/recycle-full.png') 0px 0px no-repeat;
}

.reload-item {
	background: url('../img/gcons/reload.png') 0px 0px no-repeat;
}

.rss-item {
	background: url('../img/gcons/rss.png') 0px 0px no-repeat;
}

.satellite-item {
	background: url('../img/gcons/satellite.png') 0px 0px no-repeat;
}

.save-item {
	background: url('../img/gcons/save.png') 0px 0px no-repeat;
}

.scale-item {
	background: url('../img/gcons/scale.png') 0px 0px no-repeat;
}

.scissors-item {
	background: url('../img/gcons/scissors.png') 0px 0px no-repeat;
}

.screen-item {
	background: url('../img/gcons/screen.png') 0px 0px no-repeat;
}

.search-item {
	background: url('../img/gcons/search.png') 0px 0px no-repeat;
}

.server-item {
	background: url('../img/gcons/server.png') 0px 0px no-repeat;
}

.shield-item {
	background: url('../img/gcons/shield.png') 0px 0px no-repeat;
}

.shut-down-item {
	background: url('../img/gcons/shut-down.png') 0px 0px no-repeat;
}

.star-item {
	background: url('../img/gcons/star.png') 0px 0px no-repeat;
}

.tag-item {
	background: url('../img/gcons/tag.png') 0px 0px no-repeat;
}

.tap-item {
	background: url('../img/gcons/tap.png') 0px 0px no-repeat;
}

.tree-item {
	background: url('../img/gcons/tree.png') 0px 0px no-repeat;
}

.umbrella-item {
	background: url('../img/gcons/umbrella.png') 0px 0px no-repeat;
}

.unlock-item {
	background: url('../img/gcons/glasses.png') 0px 0px no-repeat;
}

.usb-item {
	background: url('../img/gcons/glasses.png') 0px 0px no-repeat;
}

.van-item {
	background: url('../img/gcons/glasses.png') 0px 0px no-repeat;
}

.wifi-item {
	background: url('../img/gcons/glasses.png') 0px 0px no-repeat;
}

.big-button {
	text-align: center;
	border: 1px solid #e4e4e4;
	border-collapse: separate;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin-bottom: 10px;
	display: block;
	background: #F9F9F9;
	background: -moz-linear-gradient(top, #F9F9F9 0%, #EFEFEF 100%);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#F9F9F9), to(#EFEFEF));
	background: -webkit-linear-gradient(top, #F9F9F9 0%,#EFEFEF 100%);
	background: -o-linear-gradient(top, #F9F9F9 0%,#EFEFEF 100%);
	background: -ms-linear-gradient(top, #F9F9F9 0%,#EFEFEF 100%);
	background: linear-gradient(top, #F9F9F9 0%,#EFEFEF 100%);
	progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#efefef',GradientType=0 );
}

.big-button:hover {
	background: #F9F9F9;
	background: -moz-linear-gradient(top, #efefef 0%, #f9f9f9 100%);
	background: background: -webkit-gradient(linear, 0 0, 0 100%, from(#efefef), to(#f9f9f9));
	background: -webkit-linear-gradient(top, #efefef 0%,#F9F9F9 100%);
	background: -o-linear-gradient(top, #efefef 0%,#F9F9F9 100%);
	background: -ms-linear-gradient(top, #efefef 0%,#F9F9F9 100%);
	background: linear-gradient(top, #efefef 0%,#F9F9F9 100%);
	progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#F9F9F9',GradientType=0 );
	text-decoration: None;
	color: #08c;
}

/*  END ICONS */

#changelist-top {
	margin-bottom: 5px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.actions, .toolbar {
	padding: 10px;
}

.actions span.all,
.actions span.action-counter,
.actions span.clear,
.actions span.question {
	display: none;
}

select[name="action"] {
	margin-bottom: 0;
}

.small {
	font-size: 13px;
}

ul.toplinks {
	list-style: none;
}

ul.toplinks li {
	float: left;
	padding: 5px;
}

.help:hover {
	cursor: pointer;
	opacity: 1;
}

.help-tooltip {
	margin: 3px 0 0 2px;
	opacity: .9;
}

.field {
	padding: 4px;
	margin: 1px;
}

.color-form.row-fluid {
	background-color: #f9f9f9;
	margin-bottom: 1px;
	line-height: 30px;
}

.color-form.row-fluid.row2 {
	background-color: #fdfdfd;
}

.form-horizontal .color-form .control-group {
	margin-bottom: 0;
}

.form-horizontal fieldset {
	border-bottom: 1px solid #EEE;
}

.submits {
	margin: 40px 0 0 0;
}

.field h2 {
	font-size: 16px;
}

.pointer {
	cursor: pointer;
}

.h2-icon {
	margin-top: 12px;
}

.add-another:hover {
	text-decoration: none;
}

.lang-switcher {
	padding: 8px 15px 8px !important;
}

.log-link {
	display: inline-block !important;
	padding: 4px 5px !important;
	margin: 0 -4px !important;
}

.mini {
	font-size: 9px;
}

.quiet, a.quiet:link, a.quiet:visited {
	color: #999 !important;
	font-weight: normal !important;
}

.filter-title {
	font-size: 20px;
	margin: 4px 0;
}

.paginator-wrapper {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.pagination-medium {
	margin: 5px;
	height: 30px;
}

.paginator-extra {
	margin: 5px 0 5px 10px;
	height: 30px;	
}

.paginator-extra span.count {
	font-family: 'Open Sans Condensed', Arial, sans-serif;
	font-weight: bold;
	font-size: 17px;
	line-height: 30px;
}

.breadcrumb li:first-child i {
	margin-top: 0px;
}

/*.breadcrumb .active {
	color: #fff;
}

.breadcrumb a {
	color: #fff;
}

.breadcrumb li {
	text-shadow: 0 1px 0 #666;
}*/

#chart_div {
	height: 250px;
}

.analytics-sum-wrapper {
	border: 0;
	border-bottom: 1px solid #eee;
}

.analytics-sum {
	padding: 10px 0 5px 0;
	text-align: center;
}

/* Elfinder overrides to remove bootstrap styling */

table.elfinder-info-tb {
	border-spacing: 2px;
	border-color: gray;
	line-height: normal;
}

table.elfinder-info-tb tr {
	border-bottom: 1px solid #e3e3e3;
}

.elfinder-info-title {
	line-height: normal;
}

/* Form field classes */

.tinymce {
	width: 80%;
}

.input-small {
	width: 100px;
}

.input-full {
	width: 100%;
}

.textarea-small {
	width: 50%;
	height: 45px;
}

.textarea-medium {
	width: 50%;
	height: 80px;
}

.textarea-full {
	width: 98%;
	padding: 1% !important;
	height: 400px;
}

.textarea-popup {
	width: 210px;
	height: 60px;
}

.sortoptions {
	display: inline-block;
	float: right;
}

.sortoptions a:hover {
	text-decoration: none;
}

.sortpriority {
	font-size: .9em;
}

/* Original widget styling */

a.related-lookup:hover {
	text-decoration: none; 
}

div#id_password {
	display: inline;
}

.selector-available, .selector-chosen {
	float: left;
	width: 45%;
	text-align: center;
	margin-bottom: 5px;
}

.selector-available {
	margin-left: 1%;
}

.selector-available input, .selector-chosen input {
	width: 88% !important;
}

.selector-available select, .selector-chosen select {
	width: 99%;
	height: 17.2em;
}

.selector {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color: #ddd;
	overflow: auto;
}

.selector h2 {
	line-height: 30px;
	background-color: #08c;
	color:  #eee;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.selector ul.selector-chooser {
	float: left;
	width: 6%;
	height: 50px;
	background: #08c;
	margin: 11em 1% 0 1%;
	padding: 10px 0;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #06c;
}

@media (max-width: 455px) {
	.selector ul.selector-chooser {
		margin-top: 5px !important;
		margin-left: 40%;
	}
}

.selector-chooser li {
    margin: 0;
    padding: 5px;
    padding-left: 40%;
    list-style-type: none;
}

.selector-add, .selector-remove {
    width: 16px;
    height: 16px;
    display: block;
    text-indent: -3000px;
    overflow: hidden;
}

.calendarbox, .clockbox {
	background-color: #ddd;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 5px;
}

.calendarnav-previous {
	display: block;
	position: absolute;
	top: 8px;
	left: 10px;
	color: #fff;
	font-weight: bold;
}

.calendarnav-next {
	display: block;
	position: absolute;
	top: 8px;
	right: 10px;
	color: #fff;
	font-weight: bold;
}

.calendarnav-next:hover, .calendarnav-previous:hover {
	text-decoration: none;
	color: #eee;
}  

.calendar table {
	margin: auto;
}

.calendar table caption {
	background-color: #08c;
	color: #fff;
	padding: 3px 0;
	font-weight: bold;
}

.clockbox h2 {
	background-color: #08c;
	color: #fff;
	margin-top: 0; 
	padding: 3px 20px;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
}

.calendar table td {
	padding: 3px 6px;
	border: 1px solid #eee;
	background-color: #fff;
	text-align: center;
}

.calendar table td:hover, .timelist li:hover {
	background-color: #f8f8f8;
}

.calendar table th {
	font-weight: bold !important;
}

.calendar-shortcuts {
	text-align: center;
}

.calendar-cancel {
	margin-bottom: 0;
	text-align: center;
}

.calendar-cancel a {
	color: #444;
	font-size: .9em;
}

.calendar-cancel a:hover {
	text-decoration: none;
	color: #666;
}

.timelist {
	list-style: none;
	padding: 0;
	margin: 0;
}

.timelist li {
	background-color: #fff;
	border-bottom: 1px solid #eee;
	padding: 3px;	
}

/* End overriding widget styling */


/* INLINES */

.inline-related h3 {
	margin: 0;
	border: 0;
	border-bottom: 1px solid #d4d4d4;
	padding: 0 10px;
	font-size: 16px;
	color: #fff;
	font-weight: normal;
}

.inline-related h3 a {
	color: #ddd;
	text-decoration: underline;
}

.inline-related h3 a:hover {
	color: #fff;
}

.inline-related h3.error {
	background: #B94A48;
	background: -moz-linear-gradient(top, #C95A58 0%, #B94A48 100%);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#C95A58), to(#B94A48));
	background: -webkit-linear-gradient(top, #C95A58 0%,#B94A48 100%);
	background: -o-linear-gradient(top, #C95A58 0%,#B94A48 100%);
	background: -ms-linear-gradient(top, #C95A58 0%,#B94A48 100%);
	background: linear-gradient(top, #C95A58 0%,#D96A68 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C95A58', endColorstr='#B94A48',GradientType=0 );
}

.inline-related .modal h3 {
	color: #000;
	font-size: 30px;
	border: 0;
	font-weight: bold;
	padding: 10px 10px 0 10px;
}

.inline-related .modal h3 a {
	color: #08c;
	text-decoration: none;
	font-weight: normal;
	font-size: 15px;
}

.inline-related h3 .modal a:hover {
	color: #005580;
	text-decoration: underline;
}

.inline-related {
	border: 1px solid #D4D4D4;
	margin-bottom: 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.inline-related span.delete {
	float: right;
	display: inline-block;
}

.empty-form {
	display: none;
}

.tabular.inline-related table {
	margin-bottom: 0;
}

.tabular.inline-related table thead tr {
	border: 0 !important;
}

.tabular.inline-related .add-row td {
	border: 0 !important;
	border-top: 1px solid #eee !important;
}

.admin-inline-icon {
	vertical-align: baseline;
}

.inline-edit {
	border-left: 1px #f4f4f4 solid;
	padding: 0 0 0 10px;
	margin: 0 0 0 10px;
}

.inline-edit a:focus, .navbar a:focus {
	outline: none;
}
/* End inlines */