body.dashboard, body.change-list, body.change-form {
	padding: 25px 0 0 0;
}

.container-fluid {
	max-width: 1400px !important;
	margin: auto;
}

th {
	font-weight: normal !important;
}

thead th {
	font-weight: bold !important;
}

.help-inline ul, .alert-error ul, .alert-success ul, .messagelist {
	list-style: none;
	padding: 0;
	margin: 0;
}

.required {
	font-weight: bold;
}

.navbar .brand {
	padding-left: 30px;
	font: 100 16px 'Ubuntu Condensed', sans-serif;
}

.navbar .brand i {
	margin-top: 5px;
}

.navbar-fixed-top .nav-collapse i {
	opacity: 0.6;
}

.navbar-fixed-top .nav-collapse li:hover i {
	opacity: 1;
}

.main {
	padding-top: 40px;
}

.table-rounded {
	border: 1px solid #DDD;
	border-collapse: separate;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.add-item {
	background: url('../img/add-item.png') 0px 0px no-repeat;
	width: 32px;
	height: 32px;
	display: block;
	margin: auto;
}

.loading-item {
	background: url('../img/ajax-loader.gif') 4px 4px no-repeat transparent;
	width: 32px;
	height: 32px;
	display: block;
	margin: auto;
}

.processing-item {
	background: url('../img/processing.png') 0px 0px no-repeat;
	width: 32px;
	height: 32px;
	display: block;
	margin: auto;
}

.reload-item {
	background: url('../img/reload.png') 0px 0px no-repeat;
	width: 32px;
	height: 32px;
	display: block;
	margin: auto;
}

.history-item {
	background: url('../img/database.png') 0px 0px no-repeat;
	width: 32px;
	height: 32px;
	display: block;
	margin: auto;
}

.fancy-globe-item {
	background: url('../img/fancy-globe.png') 0px 0px no-repeat;
	width: 32px;
	height: 32px;
	display: block;
	margin: auto;
}

.globe-item {
	background: url('../img/globe.png') 0px 0px no-repeat;
	width: 32px;
	height: 32px;
	display: block;
	margin: auto;
}

.preview-item {
	background: url('../img/lookup.png') 0px 0px no-repeat;
	width: 32px;
	height: 32px;
	display: block;
	margin: auto;
}

.big-button {
	text-align: center;
	border: 1px solid #DDD;
	border-collapse: separate;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin-bottom: 10px;
	display: block;
	background: #F9F9F9;
	background: -moz-linear-gradient(top, #F9F9F9 0%, #EFEFEF 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F9F9F9), color-stop(100%,#EFEFEF));
	background: -webkit-linear-gradient(top, #F9F9F9 0%,#EFEFEF 100%);
	background: -o-linear-gradient(top, #F9F9F9 0%,#EFEFEF 100%);
	background: -ms-linear-gradient(top, #F9F9F9 0%,#EFEFEF 100%);
	background: linear-gradient(top, #F9F9F9 0%,#EFEFEF 100%);
	progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#efefef',GradientType=0 );
}

.big-button:hover {
	background: #F9F9F9;
	background: -moz-linear-gradient(top, #efefef 0%, #f9f9f9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#F9F9F9));
	background: -webkit-linear-gradient(top, #efefef 0%,#F9F9F9 100%);
	background: -o-linear-gradient(top, #efefef 0%,#F9F9F9 100%);
	background: -ms-linear-gradient(top, #efefef 0%,#F9F9F9 100%);
	background: linear-gradient(top, #efefef 0%,#F9F9F9 100%);
	progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#F9F9F9',GradientType=0 );
	text-decoration: None;
	color: #08c;
}

.clearfix {
	clear: both;
}

.actions {
	padding: 8px !important;
	background-color: #F5F8FA;
	margin-bottom: 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

select[name="action"] {
	margin-top: 8px;
}

.action-counter {
	color: #999;
}

.help:hover {
	cursor: pointer;
}

.field {
	padding: 4px;
	margin: 1px;
}

.color-form.row-fluid {
	background-color: #f9f9f9;
	margin-bottom: 1px;
	line-height: 30px;
}

.color-form.row-fluid.row2 {
	background-color: #fdfdfd;
}

.form-horizontal .color-form .control-group {
	margin-bottom: 0;
}

.submits {
	margin: 40px 0 0 0;
}

.field h2 {
	font-size: 16px;
}

.pointer {
	cursor: pointer;
}

.h2-icon {
	margin-top: 12px;
}

.add-another:hover {
	text-decoration: none;
}

.lang-switcher {
	padding: 9px 15px 9px !important;
}

.mini {
	font-size: 9px;
}

.quiet, a.quiet:link, a.quiet:visited {
	color: #999 !important;
	font-weight: normal !important;
}

/* Elfinder overrides to remove bootstrap styling */

table.elfinder-info-tb {
	border-spacing: 2px;
	border-color: gray;
	line-height: normal;
}

table.elfinder-info-tb tr {
	border-bottom: 1px solid #e3e3e3;
}

.elfinder-info-title {
	line-height: normal;
}

/* Form field classes */

.tinymce {
	width: 80%;
}

.textarea-medium {
	width: 50%;
	height: 80px;
}

.textarea-full {
	width: 98%;
	padding: 1% !important;
	height: 400px;
}

/* Original widget styling */

a.related-lookup:hover {
	text-decoration: none; 
}