{% extends "admin/base_site.html" %}{% load i18n yawdadmin_filters %}

{% if not is_popup %}{% block breadcrumbs %}
			<ul class="breadcrumb">
				<li><a href="{% url 'admin:index' %}"><i class="icon-home"></i></a> <span class="divider">/</span></li>
				<li class="active">{% for app in app_list %}{% blocktrans with app.name|app_title as name %}{{ name }}{% endblocktrans %}{% endfor %}</li>
			</ul>{% endblock %}{% endif %}

{% block content %}
			<div id="content-main">
				<section class="row">
					<div class="span6">{% if app_list %}{% for app in app_list %}
						<table class="table table-rounded table-striped" summary="{% blocktrans with app.name as name %}Models available in the {{ name }} application.{% endblocktrans %}">
							<thead>
								<tr class="grey-degrade">
									<th colspan="2" class="title">{% if app.icon %}
										<i class="{{app.icon}}"></i> {% endif %}{% if dashboard.show_app_label_link %}
										<a href="{{ app.app_url }}" class="section">{% endif %}
											{% if app.verbose %}{{app.verbose}}{% else %}{% trans app.name|app_title %}{% endif %}{% if dashboard.show_app_label_link %}
										</a>{% endif %}
									</th>
								</tr>
							</thead>
							<tbody>{% for set in app.sets %}{% if set.0 %}
								<tr class="summary-table-subheader">
									<td colspan="2">
										<h4>{{set.0}}</h4>
									</td>
								</tr>{% endif %}{% for model in set.1 %}
								<tr>{% if model.perms.change or model.url %}
									<td><a href="{% if model.url %}{{model.url}}{% else %}{{ model.admin_url }}{% endif %}">{{ model.name }}</a></td>{% else %}
									<td>{{ model.name }}</td>{% endif %}
									<td>
										<div class="pull-right">{% if model.perms.add %}
											<a href="{{ model.add_url }}" class="btn btn-mini btn-success">
												<i class="icon-plus icon-white"></i>&#xa0;{% trans 'Add' %}
											</a>{% endif %}{% if model.perms.change %}
											<a href="{{ model.admin_url }}" class="btn btn-mini btn-info">
												{% trans 'Change' %}&#xa0;<i class="icon-edit icon-white"></i>
											</a>{% endif %}{% if model.url %}
											<a href="{{ model.url }}" class="btn btn-mini btn-info">
												{{model.url_text}}&#xa0;<i class="{{model.url_icon}} icon-white"></i>
											</a>{% endif %}
										</div>
									</td>
								</tr>{% endfor %}{% endfor %}
							</tbody>
						</table>{% endfor %}{% else %}
						<p class="alert">{% trans "You don't have permission to edit anything." %}</p>{% endif %}
					</div>
				</section>
			</div>{% endblock %}
