{% if show %}<div class="xfull row-fluid">
									<ul class="toplinks">{% if back %}
										<li class="date-back">
											<a class="label badge-hierarchy" href="{{ back.link }}">&lsaquo; {{ back.title }}</a>
										</li>{% endif %}{% for choice in choices %}
										<li>{% if choice.link %}
											<a class="badge badge-hierarchy" href="{{ choice.link }}">{% else %}<span class="badge badge-hierarchy">{% endif %}{{ choice.title }}{% if choice.link %}</a>{% else %}</span>{% endif %}
										</li>{% endfor %}
									</ul>
								</div>{% endif %}