{% extends "admin/base_site.html" %}{% load i18n admin_modify %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li><a href="../../../../../">{% trans 'Home' %}</a> <span class="divider">/</span></li>
    <li><a href="../../../../">{{ app_label|capfirst }}</a> <span class="divider">/</span></li>
    <li><a href="../../../">{{ module_name }}</a> <span class="divider">/</span></li>
    <li><a href="../../">{{ language }}</a> <span class="divider">/</span></li>
    <li><a href="../">{% trans 'Translate Static Messages' %}</a> <span class="divider">/</span></li>
    <li class="active">{{title}}</li>
</ul>
{% endblock %}

{% block main-struct %}
	<section id="content-main">
			{% comment %}<div class="alert">{% trans 'Translate and save the following messages.' %}</div>{% endcomment %}
			<form class="form-horizontal form-inline" action="" method="post" >
				{% csrf_token %}
				{% include 'admin/includes/base_form.html' %}
				{% submit_row %}
			</form>
	</section>
{% endblock %}