{% extends "admin/base_site.html" %}{% load i18n yawdadmin_filters %}

{% block extrahead %}{% if ga_data and not ga_data.error %}
		<script src="https://www.google.com/jsapi"></script>
		<script>
			google.load("visualization", "1", {packages:["corechart"]}); 
			google.setOnLoadCallback(drawChart);
			
			function drawChart() {   
				var data = google.visualization.arrayToDataTable([
					["{% trans 'Date' %}", "{% trans 'New' %}", "{% trans 'Returning' %}", "{% trans 'Total visits' %}"],{% for row in ga_data.chart %}
					["{{row.date}}", {{row.new}}, {{row.returning}}, {{row.total}}],{% endfor %}
				]);

				var options = {
					title: "{% trans 'Last 30 days visits' %}",
					titleTextStyle: {color: '#111', fontSize: 18, fontName: 'Ubuntu Condensed' },
					pointSize: 6,
					chartArea: {width: '100%', top : 30, height: 220 },
					legend: {position: 'in'},
					axisTitlesPosition: 'in',
					vAxis: {textPosition: 'in'},
					hAxis: {textPosition: 'none'},
					colors: ['#ED8D2D', '#F54747', '#2F96B4']
				};

				var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
				chart.draw(data, options);
			}
		</script>{% endif %}{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}
			<ul class="breadcrumb">
				<li class="active"><i class="icon-home"></i> {% trans 'Home' %}</li>
			</ul>{% endblock %}

{% block main-struct %}
					<div id="content-main">{% if ga_data %}{% if not ga_data.error %}
						<div class="row-fluid hidden-phone">
							<div class="span12" id="chart_div"></div>
						</div>
						<div class="row-fluid grey-degrade analytics-sum-wrapper add-bottom hidden-phone">
							<div class="span2 analytics-sum"><strong>{% trans 'Total visits' %}:</strong><br/>{{ga_data.summed.visits}}</div>
							<div class="span2 analytics-sum"><strong>{% trans 'Visitors' %}:</strong><br/>{{ga_data.summed.visitors}}</div>
							<div class="span2 analytics-sum"><strong>{% trans 'Pageviews' %}:</strong><br/>{{ga_data.summed.pageviews}}</div>
							<div class="span2 analytics-sum"><strong>{% trans 'Avg. visit time' %}:</strong><br/>{{ga_data.summed.avg_time}}</div>
							<div class="span2 analytics-sum"><strong>{% trans 'Bounce rate' %}:</strong><br/>{{ga_data.summed.bounce_rate}}%</div>
							<div class="span2 analytics-sum"><strong>{% trans 'New visits' %}:</strong><br/>{{ga_data.summed.new_visits}}%</div>
						</div>{% else %}
						<div class="row-fluid hidden-phone">
							<div class="span12 alert">
								<strong>{% trans 'Warning!' %}</strong>
								{% trans 'Analytics data could not be generated' %}:{% if ga_data.error == 'refresh' %}
								{% trans 'The key has expired.' %}{% elif ga_data.error == 'authentication' %}
								{% url 'admin:analytics' as analytics_url %}{% blocktrans %}The analytics user is not authenticated. <a href="{{analytics_url}}">Click here</a> to connect a user with the analytics account.{% endblocktrans %}{% elif ga_data.error == 'empty' %}
								{% trans 'Your account has no data yet. <strong>Just be patient, visits will come!</strong> :)' %}{% else %}
								{% trans 'Error code'%} <strong>{{ga_data.error}}</strong>.{% endif %}
							</div>
						</div>{% endif %}{% endif %}{% if app_list %}{% with sep=app_list|filter_show|length|divide:2 %}
						<div class="row-fluid">
							<div class="span6">{% for app in app_list %}{% if app.show %}{% if forloop.counter0 == sep %}
							</div>
							<div class="span6">{% endif %}
								<table class="table table-rounded table-striped" summary="{% blocktrans with app.name as name %}'{{ name }}' section links.{% endblocktrans %}">
									<thead>
										<tr class="grey-degrade">
											<th colspan="2" class="title">{% if app.icon %}
												<i class="{{app.icon}}"></i> {% endif %}{% if dashboard.show_app_label_link %}
												<a href="{{ app.app_url }}" class="section">{% endif %}
													{% if app.verbose %}{{app.verbose}}{% else %}{% trans app.name|app_title %}{% endif %}{% if dashboard.show_app_label_link %}
												</a>{% endif %}
											</th>
										</tr>
									</thead>
									<tbody>{% for set in app.sets %}{% if set.0 %}
										<tr class="summary-table-subheader">
											<td colspan="2">
												<h4>{{set.0}}</h4>
											</td>
										</tr>{% endif %}{% for model in set.1 %}
										<tr>{% if model.perms.change or model.url %}
											<td><a href="{% if model.url %}{{model.url}}{% else %}{{ model.admin_url }}{% endif %}">{{ model.name }}</a></td>{% else %}
											<td>{{ model.name }}</td>{% endif %}
											<td>
												<div class="pull-right">{% if model.perms.add %}
													<a href="{{ model.add_url }}" class="btn btn-mini btn-success">
														<i class="icon-plus icon-white"></i>&#xa0;{% trans 'Add' %}
													</a>{% endif %}{% if model.perms.change %}
													<a href="{{ model.admin_url }}" class="btn btn-mini btn-info">
														{% trans 'Change' %}&#xa0;<i class="icon-edit icon-white"></i>
													</a>{% endif %}{% if model.url %}
													<a href="{{ model.url }}" class="btn btn-mini btn-info">
														{{model.url_text}}&#xa0;<i class="{{model.url_icon}} icon-white"></i>
													</a>{% endif %}
												</div>
											</td>
										</tr>{% endfor %}{% endfor %}
									</tbody>
								</table>{% endif %}{% endfor %}
							</div>
						</div>{% endwith %}{% else %}
						<p class="alert">{% trans "You don't have permission to edit anything." %}</p>{% endif %}
					</div>{% endblock %}

{% block sidebar %}<div class="well well-open">
						<h3 class="filter-title">{% trans 'Recent Actions' %}</h3>
						<ul class="nav nav-list">
							<li class="nav-header">{% filter utfupper %}{% trans 'My Actions' %}{% endfilter %}</li>{% load log %}{% get_admin_log 10 as admin_log for_user user %}{% if not admin_log %}
							<li>
								<p class="tip">{% trans 'No history yet' %}</p>
							</li>{% else %}{% for entry in admin_log %}
							<li>{% if not entry.is_deletion and entry.get_admin_url %}
								<a class="log-link" href="{{ entry.get_admin_url }}">{% endif %}
									<i class="icon-{% if entry.is_addition %}plus{% elif entry.is_change %}edit{% elif entry.is_deletion %}remove{% endif %}"></i> {{ entry.object_repr }}{% if not entry.is_deletion and entry.get_admin_url %}
								</a>{% endif %}<br/>{% if entry.content_type %}
								<span class="mini quiet">{% with entryname=entry.content_type.name|capfirst|escape %}{% trans entryname %}{% endwith %}</span>{% else %}
								<span class="mini quiet">{% trans 'Unknown content' %}</span>{% endif %}
								<span class="mini">{{entry.action_time|date:"d N, H:i"}}</span>
							</li>{% endfor %}{% endif %}
						</ul>
					</div>
				{% endblock %}
