{% extends "admin/logged_out_base.html" %}{% load i18n yawdadmin_tags %}

{% block bodyclass %}login{% endblock %}

{% block content %}{% if form.errors and not form.non_field_errors and not form.this_is_the_login_form.errors %}
			<p class="alert alert-error">
				<button type="button" class="close" data-dismiss="alert">×</button>
				{% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
			</p>{% endif %}{% if form.non_field_errors or form.this_is_the_login_form.errors %}{% for error in form.non_field_errors|add:form.this_is_the_login_form.errors %}
			<p class="alert alert-error">
    			<button type="button" class="close" data-dismiss="alert">×</button>
				{{ error }}
			</p>{% endfor %}{% endif %}
			<div class="box">
				<h3 class="title">{% trans 'Sign In' %}</h3>
				<form class="form-inline pull-left" action="{{ app_path }}" method="post">
					{% csrf_token %}
					<input type="hidden" name="this_is_the_login_form" value="1" />
					<input type="hidden" name="next" value="{{ next }}" />
					<div class="control-group{% if form.username.errors %} error{% endif %}">{% if not form.this_is_the_login_form.errors %}
						<label class="control-label required" for="id_username">{% trans 'Login' %}:</label>{% endif %}
						<div class="controls">
							<div class="input-prepend">
								<span class="add-on"><i class="icon-user"></i></span>
								{{ form.username }}
							</div>{% if form.username.errors %}
							<span class="help-inline">{{form.username.errors}}</span>{% endif %}
						</div>
					</div>
					<div class="control-group{% if form.password.errors %} error{% endif %}">{% if not form.this_is_the_login_form.errors %}
						<label class="control-label required" for="id_password">{% trans 'Password' %}:</label>{% endif %}
						<div class="controls">
							<div class="input-prepend">
								<span class="add-on"><i class="icon-lock"></i></span>
								{{ form.password }}
							</div>{% if form.password.errors %}
							<span class="help-inline">{{form.password.errors}}</span>{% endif %}
						</div>
					</div>
					<div class="submit-row">
						<input type="submit" value="{% trans 'Log in' %}" class="btn btn-primary" />{% url 'password_reset' as password_reset_url %}{% if password_reset_url %}
 						&#xa0;<a class="small" href="{{ password_reset_url }}">{% trans 'Forgot password?' %}</a>{% endif %}
					</div>
				</form>
			</div>
			<script type="text/javascript">document.getElementById('id_username').focus();</script>{% endblock %}