{% extends "admin/change_list.html" %}
{% load i18n %}


{% block object-tools-items %}
{% if has_add_permission %}
        <div class="span2">
            <a href="add/{% if is_popup %}?_popup=1{% endif %}" class="big-button">
                <i class="add-item"></i> {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
            </a>
        </div>
    {% if not is_popup %}
        <div class="span2">
            <a href="{{recoverlist_url}}" class="recoverlink big-button">
                <i class="database-item"></i> {% blocktrans with cl.opts.verbose_name_plural|escape as name %}Recover deleted {{name}}{% endblocktrans %}
            </a>
        </div>
    {% endif %}
{% endif %}
{% endblock %}