{% extends "admin/base_site.html" %}{% load i18n admin_static %}

{% block extrahead %}{{block.super}}<script src="{% static 'yawd-admin/js/yawd-admin.js' %}"></script>{% endblock %}

{% block object-tools %}
			<div class="row-fluid nav object-tools">
				<div class="span2">
					<a href="{% url 'admin:password_change' %}" class="big-button">
						<i class="configuration-item"></i> {% trans "Change password" %}
					</a>
				</div>
			</div>{% endblock %}

{% block content %}
			<div id="content-main">
				<form class="form-horizontal" method="POST" action=".">
					{% csrf_token %}
					<fieldset>
						<div class="fieldset-wrapper">{% include 'admin/includes/base_form.html' %}
						</div>
					</fieldset>
					<input type="submit" value="{% trans 'Update account' %}" class="btn btn-success" />
				</form>
			</div>{% endblock %}