{% extends "admin/logged_out_base.html" %}{% load i18n %}

{% block inner-title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}<div class="box">
				<header class="page-header">
					<h3 class="title">{% trans "Password reset" %}</h3>
					<p>
						{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}
					</p>
				</header>
				<p class="alert alert-success">{% trans "We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly." %}</p>
		</div>{% endblock %}
