{% extends "admin/base_site.html" %}{% load i18n %}

{% block content_title %}<header class="page-header">
					<h1>{% trans 'Password change' %}</h1>
				</header>{% endblock %}

{% block breadcrumbs %}
			<ul class="breadcrumb">
				<li><a href="{% url 'admin:index' %}"><i class="icon-home"></i></a> <span class="divider">/</span></li>
				<li><a href="{% url 'admin:my-account' %}">{% trans 'My account' %}</a> <span class="divider">/</span></li>
				<li class="active">{% trans 'Password change' %}</li>
			</ul>{% endblock %}

{% block inner-title %}{% trans 'Password change' %}{% endblock %}

{% block content %}<div id="content-main">
			<p class="alert alert-success">{% trans 'Your password was changed successfully.' %}</p>
			<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
			<form class="form-horizontal" action="../" method="post">
					<fieldset class="module aligned wide">
						<div class="fieldset-wrapper">
							<div class="row-fluid color-form row1">
								<div class="field control-group{% if form.old_password.errors %} error{% endif %}">
									<label for="id_old_password" class="control-label required">{% trans 'Old password' %}:</label>
									<div class="controls">
										<input id="id_old_password" name="old_password" type="password" />
									</div>
								</div>
							</div>
							<div class="row-fluid color-form row2">
								<div class="field control-group{% if form.new_password1.errors %} error{% endif %}">
									<label for="id_new_password1" class="control-label required">{% trans 'New password' %}:</label>
									<div class="controls">
											<input id="id_new_password1" name="new_password1" type="password" />
									</div>
								</div>
							</div>
							<div class="row-fluid color-form row1">{% csrf_token %}
								<div class="field control-group{% if form.new_password2.errors %} error{% endif %}">
									<label for="id_new_password2" class="control-label required">{% trans 'New password (again)' %}:</label>
									<div class="controls">
										<input id="id_new_password2" name="new_password2" type="password" />
									</div>
								</div>
							</div>
						</div>
					</fieldset>
					<input type="submit" value="{% trans 'Change my password' %}" class="btn btn-success" />
			</form>
{% endblock %}
