{% extends "admin/base_site.html" %}{% load i18n %}

{% block breadcrumbs %}
			<ul class="breadcrumb">
				<li><a href="{% url 'admin:index' %}"><i class="icon-home"></i></a> <span class="divider">/</span></li>
				<li><a href="{% url 'admin:my-account' %}">{% trans 'My account' %}</a> <span class="divider">/</span></li>
				<li class="active">{% trans 'Password change' %}</li>
			</ul>{% endblock %}

{% block inner-title %}{% trans 'Password change' %}{% endblock %}

{% block content %}<div id="content-main">
			<header class="page-header">
				<h1>{% trans 'Password change' %}</h1>
			</header>
			<p class="alert alert-success">{% trans 'Your password was changed successfully.' %}</p>
{% endblock %}
