{% extends "admin/logged_out_base.html" %}{% load i18n %}

{% block inner-title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}<div id="content-main">{% if form.errors and not form.non_field_errors and not form.this_is_the_login_form.errors %}
			<p class="alert alert-error">
				<button type="button" class="close" data-dismiss="alert">×</button>
				{% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
			</p>{% endif %}
			<div class="box">{% if validlink %}
			<header class="page-header">
				<h3>{% trans 'Enter new password' %}</h3>
				<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
			</header>
			<form class="form-inline" action="" method="post">
				{% csrf_token %}
				<div class="control-group{% if form.new_password1.errors %} error{% endif %}">
					<label class="single control-label required" for="id_new_password1">{{ form.new_password1.label }}:</label>
					<div class="controls">
						<div class="input-prepend">
							<span class="add-on"><i class="icon-lock"></i></span>
							{{ form.new_password1 }}
						</div>{% if form.new_password1.errors %}
						<span class="help-inline">{{ form.new_password1.errors }}</span>{% endif %}
					</div>
				</div>
				<div class="control-group{% if form.new_password2.errors %} error{% endif %}">
					<label class="single control-label required" for="id_new_password2">{{ form.new_password2.label }}:</label>
					<div class="controls">
						<div class="input-prepend">
							<span class="add-on"><i class="icon-lock"></i></span>
							{{ form.new_password2 }}
						</div>{% if form.new_password2.errors %}
						<span class="help-inline">{{ form.new_password2.errors }}</span>{% endif %}
					</div>
				</div>
				<p><input type="submit" class="btn btn-primary" value="{% trans 'Change my password' %}" /></p>
			</form>{% else %}
			<header class="page-header">
				<h3>{% trans 'Password reset unsuccessful' %}</h3>
				<p class="alert alert-error">{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
			</header>
			<a href="{% url 'password_reset' %}" class="btn btn-primary">{% trans 'Password reset' %}</a>{% endif %}
			</div>
		</div>{% endblock %}
